name: Lint Go

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions: {}

jobs:
  vet:
    name: "Vet"
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.2.2

      - uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Vet
        run: make vet
